.icon-font-widget .selected-container i {
  font-size: 40px;
  line-height: 47px
}

.icon-font-widget .select-container {
  font-size: 26px;
  line-height: 32px
}

.icon-font-widget .select-container i {
  border:  1px solid white;
  padding: 2px;
  margin: 2px;
}

.icon-font-widget .select-container i.hovered {
  border: 1px solid black;
  cursor: pointer;
  cursor: hand;
}

.icon-font-widget .select-container i.selected {
  border: 1px solid red;
  cursor: pointer;
  cursor: hand;
}
